PORT=3000

CLIENT_ID=your_client_id
CLIENT_SECRET = your_key
REDIRECT_URI=https://your_url/callback

# Use barras ao invés de barras invertidas se o caminhos for de rede. 
# FALHA: \\192.168.0.0\pasta
# FALHA: \\\\192.168.0.0\\pasta
# CERTO: //192.168.0.0/pasta
# CERTO: C:\\Users\\my-user\\Documents\\Pasta
# CERTO: C:/Users/my-user/Documents/Pasta
CAMINHO_NFE=./notas-xml

DATABASE_SERVER=localhost
DATABASE_USER=sa
DATABASE_PASSWORD=admin
DATABASE_NAME=database
