<div class="flex items-center justify-center gap-2 mx-auto w-10/12">
    <button
    class="border-slate-700 border text-slate-700 font-medium p-2 rounded-md my-4 hover:cursor-pointer"
    onclick="window.location.href = window.location.pathname"
    >
        Limpar
    </button>
    <button
    class="bg-slate-700 text-white p-2 rounded-md my-4 hover:cursor-pointer font-medium"
    onclick="window.location.reload()"
    >
        Atualizar
    </button>
</div>